<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">Navbar</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-9">
    <%= yield %>
    </div>
    <div class="col-md-3">
      <div>
      <h4>About</h4>
      This system is for user registration.
      </div>
      </div>
      </div>
    </div>
  </body>
</html>
